@{
    Layout = "_Layout1";
    ViewData["Title"] = "Home";
}

<title>MahaLAnd</title>

<div class="text-center">
    <br />
    <br />
    <br />
    <br />
    <h1 class="display-4">Welcome to mahaLAnd</h1>
    <br />
    <h4 style="color:gray;">where we connect people and build beautiful friendships</h4>
</div>
