@using Microsoft.AspNetCore.Identity 
<link rel="stylesheet" href="~/css/site.css" />

<ul class="navbar-nav">
    <div class="xxx">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register&nbsp;&nbsp;&nbsp;</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    </div>
</ul>
